<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://vga.com/elsa/meta-web-app">
    <entity id="com.gridnine.platform.elsa.admin.web.acl.AclMetadataElementWrapper">
        <property id="id" type="STRING" non-nullable="true"/>
        <property id="name" type="STRING" non-nullable="true"/>
        <collection id="children" element-type="ENTITY" element-class-name="com.gridnine.platform.elsa.admin.web.acl.AclMetadataElementWrapper"/>
    </entity>
    <custom-container class-name="com.gridnine.platform.elsa.admin.web.acl.AclTreeEditor">
        <server-managed-state>
            <property id="rootEntry" type="ENTITY" class-name="com.gridnine.platform.elsa.admin.web.acl.AclMetadataElementWrapper"/>
            <property id="selectedNodeId" type="STRING" non-nullable="true"/>
            <collection id="hasRulesIds" element-type="STRING"/>
            <collection id="hasChildrenWithRulesIds" element-type="STRING"/>
        </server-managed-state>
        <commands-from-client>
            <command id="selectNode">
                <property id="nodeId" type="STRING" non-nullable="true"/>
            </command>
        </commands-from-client>
    </custom-container>
    <custom-container class-name="com.gridnine.platform.elsa.admin.web.acl.AclRuleEditor">
        <server-managed-state>
            <property id="conditionsTitle" type="STRING" non-nullable="true"/>
            <property id="actionsTitle" type="STRING" non-nullable="true"/>
        </server-managed-state>
    </custom-container>
</web-app>